function $$ANNOTATION_TARGET_VARIABLE_NAME$$($$ANNOTATION_TARGET_FUNCTION_ARGUMENTS$$) {
	if (!(this instanceof $$ANNOTATION_TARGET_VARIABLE_NAME$$)) {
		throw new Error('$$ANNOTATION_TARGET_VARIABLE_NAME$$ is a constructor and must be instantiated with the new keyword');
	}
	$$ANNOTATION_TARGET_FUNCTION_BODY$$;
}
