function $$ANNOTATION_TARGET_VARIABLE_NAME$$($$ANNOTATION_TARGET_FUNCTION_ARGUMENTS$$) {
	if (!(this instanceof $$ANNOTATION_TARGET_VARIABLE_NAME$$)) {
		throw new SyntaxError('mising new keyword when calling $$ANNOTATION_TARGET_VARIABLE_NAME$$ constructor');
	}
	$$ANNOTATION_TARGET_FUNCTION_BODY$$;
}
